<nav class="navbar navbar-expand-sm navbar-dark fixed-top">
        <a class="navbar-brand" href="#">Noxe</a>
        <button class="navbar-toggler d-lg-none" type="button" data-toggle="collapse" data-target="#collapsibleNavId" aria-controls="collapsibleNavId"
            aria-expanded="false" aria-label="Toggle navigation">
                <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="collapsibleNavId">
                <ul class="navbar-nav mr-auto mt-2 mt-lg-0">
                        <li class="nav-item">
                                <a class="nav-link" routerLink='home' routerLinkActive='link-active' >Home <span class="sr-only">(current)</span></a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink='movies' routerLinkActive='link-active' >Movies</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink='tvshows' routerLinkActive='link-active'>Tv shows</a>
                        </li>
                        <li class="nav-item">
                                <a class="nav-link" routerLink='people' routerLinkActive='link-active'>People</a>
                        </li>
                        
                </ul> 
                <ul class="navbar-nav mt-2 mt-lg-0">
                        <div class="social-icons text-white mt-2 mr-4">

                                <a href="#"><i class="fab fa-facebook"></i></a>
                                <a href="#"><i class="fab fa-twitter"></i></a>
                                <a href="#"><i class="fab fa-instagram"></i></a>
                                <a href="#"><i class="fab fa-youtube"></i></a>
                        </div>
                       
                        <li class="nav-item"  *ngIf="!showMenuItem" >
                                <a class="nav-link" routerLink='login' routerLinkActive='link-active'>Login</a>
                        </li>  
                        <li class="nav-item" *ngIf="!showMenuItem">
                                <a class="nav-link" routerLink='register' routerLinkActive='link-active' >Register</a>
                        </li>  
                        <li class="nav-item"  *ngIf="showMenuItem">
                                <a class="nav-link" href="" (click)="logOut()">Logout</a>
                        </li>  
                </ul>
        </div>

</nav>