<div class="container my-5">
        <div class="pt-5">
                <div class="row tvshows pt-5">
                        <div class="col-md-4">
                                <div class="info mt-4">
                                        <h2 class="mb-3">
                                              Trending <br>
                                              tv<br>
                                              to watch now  
                                        </h2>
                                        <span class="watched">Most watched tvshows by days</span>
                                        
                                </div>
                        </div>
                        <div *ngFor='let tv of trendingTvshows' class="col-md-2 mb-5 text-center">
                                <div>
                                        <img class=" img-fluid" src='https://image.tmdb.org/t/p/original/{{tv.poster_path}}' alt="">
                                        <span class="vote">{{tv.vote_average.toFixed(1)}}</span>
                                        <h5 class="mt-3">{{tv.name}}</h5>
                                        <button routerLink='/details/{{tv.media_type}}/{{tv.id}}' class="btn btn-info py-2">Details</button>
                
                                </div>
                        </div>
                </div>
        </div>
</div>
