<div class="container my-5">
        <div class="pt-5">
                <h1 class=" mb-5">Registration Form</h1>

<div class="alert alert-danger" *ngIf="error.length>0">
        <p>{{error}}</p>
</div>
<form [formGroup]="registerForm" (ngSubmit)="submitRegisterForm(registerForm)">
        <div class=" form-group">
                <label for="f-name">First Name</label>
                <input type="text"  class=' form-control my-2'id="f-name" formControlName="first_name"  autofocus="on">
                <div class=" alert alert-danger" *ngIf="registerForm.controls.first_name.touched&&registerForm.controls.first_name.invalid">
                        <p *ngIf="registerForm.controls.first_name?.errors?.required">first name is required</p>
                        <p *ngIf="registerForm.controls.first_name?.errors?.minlength">first name min length 3</p>
                        <p *ngIf="registerForm.controls.first_name?.errors?.maxlength">first name max length 10</p>
                </div>
        </div>
        <div class=" form-group">
                <label for="l-name">Last Name</label>
                <input type="text"  class=' form-control my-2'id="l-name" formControlName="last_name">
                <div class=" alert alert-danger" *ngIf="registerForm.controls.last_name.touched&&registerForm.controls.last_name.invalid">
                        <p *ngIf="registerForm.controls.last_name?.errors?.required">last name is required</p>
                        <p *ngIf="registerForm.controls.last_name?.errors?.minlength">last name min length 3</p>
                        <p *ngIf="registerForm.controls.last_name?.errors?.maxlength">last name max length 10</p>
                </div>
        </div>
        <div class=" form-group">
                <label for="age">Age</label>
                <input type="number"  class=' form-control my-2'id="age" formControlName="age">
                <div class=" alert alert-danger" *ngIf="registerForm.controls.age.touched&&registerForm.controls.age.invalid">
                        <p *ngIf="registerForm.controls.age?.errors?.required">age is required</p>
                        <p *ngIf="registerForm.controls.age?.errors?.min"> min age 16 years</p>
                        <p *ngIf="registerForm.controls.age?.errors?.max"> max age 80 years</p>

                </div>
        </div>
        <div class=" form-group">
                <label for="email">email</label>
                <input type="email"  class=' form-control my-2'id="email" formControlName="email" autocomplete="off">
                <div class=" alert alert-danger" *ngIf="registerForm.controls.email.touched&&registerForm.controls.email.invalid">
                        <p *ngIf="registerForm.controls.email?.errors?.required">email is required</p>
                        <p *ngIf="registerForm.controls.email?.errors?.email">email is invalid</p>
                </div>
        </div>
        <div class=" form-group">
                <label for="password">password</label>
                <input type="password"  class=' form-control my-2' id="password" formControlName="password">
                <div class=" alert alert-danger" *ngIf="registerForm.controls.password.touched&&registerForm.controls.password.invalid">
                        <p *ngIf="registerForm.controls.password?.errors?.required">password is required</p>
                        <p *ngIf="registerForm.controls.password?.errors?.pattern">password from 3 to 9 letters or numbers</p>
                </div>
        </div>
        <button class=" btn btn-info mt-3" type="submit" [disabled]="registerForm.invalid" >Register</button>
</form>
        </div>
</div>


